body {background: #244375 url('/resources/christmas.png') repeat-x; background-size: 50%; background-position: bottom; background-attachment: fixed; overflow-x: hidden; margin: 0; font-size: 0; font: 0.75em/1.5 Helvetica, Arial, sans-serif;color: #333;}
a, .top_nav a {color: blue; text-decoration: none;}
.2008_b {display: block!important;}
.2008_ib {display: inline-block!important;}
.loadtime {position: fixed; bottom: 1%; left: 1%; color: rgba(0,0,0,0.3);}
.offline:not(.isProfile):not(.isStatus) .content {padding-top: 11px; background: url('arrow.png') no-repeat 25px 0; margin-top: 6px;}
.page_home .container {padding-left: 0px;}
.content {width: 555px; display: inline-block; margin-top: 6px;}
.content div, .sidebar div {margin: 0;}
.container {width: 755px; margin: 0 auto; text-align: left; position: relative;}
.sidebar_wrap {width: 188px; float: right; overflow: hidden; position: relative; display: block; margin: 0; padding: 0;}
.sidebar {width: calc(100% - 26px); position: relative; background: #DDFFCC; border: 1px solid #87bc44; padding: 12px; display: block;}
.online .top_nav, .offline .top_nav {padding: 6px 5px; top: 32px; line-height: 1.5em; max-width: 600px!important;}
.content {padding-top: 11px; background: url('arrow.png') no-repeat 25px 0; margin-top: 7px;}
.smallinput {font-size: 0.9em; padding: 2px; width: 130px; line-height: 1em;}
.smallbtn {font-size: 0.9em!important;}
.online .sidebar {margin-top: 17px;}
.offline .sidebar {margin-top: 21px;}
input[type="submit"] {
    background-color: #E6E6E6;
    border: 1px solid #ccc;
    padding-top: 1px solid #fff;
    font-size: 1em;
    padding: 4px 8px 4px 8px;
}
.2008 .top_nav form {mac-w!important; display: inline-block!important;}
.publictimeline_prof {border: none;}