html, body, .container {height: 100%;}
body {background: #244375 url('/resources/christmas.png') repeat-x; background-size: 50%; background-position: bottom; background-attachment: fixed; overflow-x: hidden; margin: 0; font-size: 0; font: 0.75em/1.5 Helvetica, Arial, sans-serif;}
* {margin: 0; word-wrap: break-word;}
h1, h2, h3, h4, h5 {font-weight: normal;}
a {color: blue;}
.2008_b, .2008_ib {display: none!important;}
.loadtime {position: fixed; bottom: 1%; left: 1%; color: rgba(0,0,0,0.3);}
.offline:not(.isProfile):not(.isStatus) .content {padding-top: 11px; background: url('arrow.png') no-repeat 25px 0; margin-top: 6px;}
.content {width: 555px; display: inline-block; margin-top: 6px;}
.content div, .sidebar div {margin: 0;}
.nosidebar .content, .nosidebar .footer {width: 100%!important; display: block!important;}
.nosidebar .wrapper {width: calc(100% - 20px)!important; display: block!important;}
.nosidebar.page_post .wrapper, .nosidebar.page_post .footer {display: none!important;}
.nosidebar .tweet-box {width: 100%!important;}
.page_home .container {padding-left: 15px;}
.container_wrap {position: relative;}
.container {width: 755px; margin: 0 auto; text-align: left; position: relative;}
.content .wrapper {background: #fff; display: inline-block; position: relative; padding: 5px 10px 5em; width: 535px;}
.content .wrapper h2 {color: #333;}
.content .wrapper h2 em {font-style: normal; background: yellow; padding: 1px;}
.defaultpage.online .content .wrapper {margin: 8% 0;}
.sidebar_wrap {width: 188px; float: right; overflow: hidden; position: relative; display: block; margin: 0; padding: 0;}
.sidebar {width: calc(100% - 26px); position: relative; background: #e0ff92; border: 1px solid #87bc44; padding: 12px; display: block;}
.online .sidebar {margin-top: 6px;}
.offline .sidebar {margin-top: 16px;}
.footer {background: #fff; padding: 8px 0; text-align: center; width: 555px; margin: 5px 0; vertical-align: top;}
.submit {margin: 5px auto; display: block; font: bold 1.12em/1.5 Helvetica, Arial, sans-serif; padding: 3px 10px}
.sidebar .signup {background: #fff; border: 1px solid #87bc44; width: calc(100% - 12px); padding: 2px 5px; font-weight: bold; text-align: center; display: inline-block!important;}
.sidebar .signup a {font-size: 1.5em; display: inline-block; min-height: 1px; background: yellow; padding: 0!important; }
.sidebar .logout {position: absolute; bottom: 2%; right: 2%;}
.hideTweetBox .wrapper {margin: 0;}
.no-select {-webkit-touch-callout: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}

.favorites_page .top_tweet_wrapper {display: none;}

.top_nav a {color: darkblue;}

.sim_links {width: calc(96% - 10px); position: relative; float: right; margin: 2%; border: 1px solid gray; display: block; background: #eee; box-shadow: 4px 4px 0 0 black; padding: 22px 5px 5px 5px; font-size: 11px;}
.sim_a {display: block; width: 100%; margin: 2px 0; text-transform: uppercase; color: black; text-decoration: none;}
.sim_img {width: 17px; height: 17px; display: inline-block; vertical-align: bottom; background: url('afflit.png');}
.sim_img.vidlii {background-position: 0 0;}
.sim_img.fp {background-position: -17px 0;}
.sim_img.aim {background-position: -34px 0;}
.sim_img.sudo {background-position: -51px 0;}
.sim_header, .sim_header_top {height: 18px; line-height: 18px; background: black; color: white; text-align: center; display: block;}
.sim_header_top {top: 0; left: 0; position: absolute; width: 100%;}
.sim_header {width: 106%; margin: 0 -3%;}
.isProfile .sim_links, .isStatus .sim_links, .isStatus .search_bar {display: none!important;}s

.jscolor[style*="background-color: rgb(255, 255, 255)"] {background: transparent!important;}

.header {position: relative; font-size: 1em;}

.online .top_nav {position: absolute; top: 50%; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); right: 0; background: white; padding: 2px 3px;}
.offline .top_nav {display: none;}

.tweet-box {background: #fff; width: 555px; margin: 2em 0;}
.tweet-box-head {background: #eee; width: 98%; padding: .5% 1%; color: black;}
.tweet-box-text {margin: 1%; width: 98%;}
.tweet-box-chars {float: right; font-size: 11px; line-height: 250%; font-weight: bold;}
.tweet-box-chars:before {content:"Characters avaliable: "; font-weight: normal;}

.error {color: red; font-weight: bold;}

.award_notif {background: #fff7d7; border: 1px solid #ffd634; width: 100%; font-weight: bold; text-align: center; display: block;}

.g-recaptcha {transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;}
.msg {padding-left: 30px; min-height: 30px; line-height: 30px; background: url('/resources/girl.gif') no-repeat; vertical-align: middle;}
.msg.offline {min-height: 30px;}
.msg * {line-height: auto;}
.msg strong {display: block; font-size: 1.4em; line-height: 1em;}
.hideTweetBox .send-tweet {display: none!important;}
.msg h3 {font-size: 1.25em;}

.login_form input[type=text], .login_form input[type=password] {width: 100%; display: block; border: 1px solid #86bc46; padding: 4px 2px; font-size: 0.92em;}

#userpassch {height: 20%; display: block; vertical-align: text-top}
#userpassch .col {width: 46%; height: 100%; padding: 1%; vertical-align: text-top; margin: 0; display: inline-block; border: 1px solid #555;}
.prof_name_wrap {vertical-align: middle; height: 49px; line-height: 49px; display: block;}
.prof_name {font-size: 3em; display: inline-block; vertical-align: middle; color: white; margin-left: .2em;}
.prof_name .image_wrapper, .tweetline_prof, .reply_prof, .prof_name_img {vertical-align: middle; margin: 0 0 0 5px; border: 1px solid #999; width: 47px; height: 47px; line-height: 47px; display: inline-block!important;}
.prof_name_img {background-color: white;}

.profile-info + .send-tweet {display: none!important;}

.img_logo {text-decoration: none;}
.img_logo img {margin: 19px 0;}
.img_stitle {color: red; font-size: 10px; text-shadow: 1px 1px black; vertical-align: bottom;}

.allupdates {position: absolute; bottom: 1%; left: 2%;}
.allupdates_ctrl {position: absolute; bottom: 3%; right: 1%;}
.allupdates_ctrl .pagesel {padding: 0 7px;}
.tweets .tweet {font-size: 14px; width: 92%; display: block; padding: 1% 4%;}
.tweet.even {background: #eef;}
.tweets .tweettime {font-size: 12px;}

.top_tweet_wrapper {display: block; width: 100%; background: url('../resources/arrow.png') no-repeat 14px 1px; margin: 2% 0; padding: 2% 1; position: relative;}
.top_tweet {background: white; width: 100%; display: block; position: relative;}
.top_tweet_content {margin-left: 1%; display: inline-block; width: 89%;}
.top_tweet_content, .tweet_single_content {font-size: 2.12em; font-weight: bold; width: 79%;}
.top_tweet_timestamp {position: absolute; right: 1%; bottom: 3%;}
.top_tweet_wrapper .tweetbutton {top: 3%; position: absolute;}
.top_tweet_wrapper .favorite, .top_tweet_wrapper .favorited {right: 4%;}
.top_tweet_wrapper .delete {right: 1%;}
.isProfile .wrapper {margin: 1% 0;}

.publictimeline_prof_wrapper {width: 50px; display: inline-block; padding: 6px 5px 2px 4px;}
.publictimeline_prof {width: 47px; height: 47px; display: inline-block; vertical-align: middle; border: 1px solid #999; }
.publictimeline_tweet {padding: 3px; font-size: 14px;}
.publictimeline_tweet_content {display: inline-block; width: 89%; veritical-align: middle;}
.publictimeline_tweet.even {background: #eef;}
.publictimeline_tweet .user_actions {width: 16px; display: inline-block;}
.publictimeline_tweet .timestamp {font-size: 12px;}

.publictimeline_tweet_content {display:inline-block; width: 70%; vertical-align: middle;}

.hide {display: none!important;}

.request_add_h2 {font-weight: bold;}
.request_add_a {cursor: pointer; text-decoration: underline;}

.tweetline_tweet, .reply {width: 100%; height: auto; padding: 4px 0; margin: 0; display: inline-block; border-bottom: 1px solid #ccc;}
.tweetline_tweet {font-size: 14px;}
.reply {font-size: 12px;}

.tweetbutton {width: 13px; height: 13px; display: inline-block; background: url('tweet_buttons.png'); text-indent: -9999px; cursor: pointer; vertical-align: text-top;}
.tweetbutton.favorite {background-position: 0 0;}
.tweetbutton.favorite:hover {background-position: -13px 0;}
.tweetbutton.favorited {background-position: -26px 0;}
.tweetbutton.delete {background-position: 0 13px;}
.tweetbutton.delete:hover {background-position: -13px 13px;}

.homepage_tabs {position: absolute; right: 0; top: -22px; float: right;}
.homepage_tabs .tab {height: 22px; line-height: 22px; display: inline-block; padding: 0 20px; background: #eee; text-decoration: underline;}
.homepage_tabs .tab.selected {background: white!important; color: black;}

.indent {padding-left: 5%;}
.indent2 {padding-left: 10%;}

.follow, .unfollow, .requesta, .requestd, .btn {cursor: pointer; background: #888; border: 1px solid #515151; padding: 4px 9px; color: white; font-weight: bold; box-shadow: 1px 1px 1.5px 0 rgba(0,0,0,0.5);}
.follow:active, .unfollow:active, .requesta:active, .requestd:Active, .btn:active {background: #777; border-color: #404040;}
.follow, .unfollow {margin: 0 auto; display: inline-block; float: right;}
.requestw {position: absolute; right: 5%; top: 50%; transform: translate(0,-50%);}

.tweetline_content { display: inline-block; width: 89%; vertical-align: middle;}

.status_info {display: none;}
.isStatus .status_info {display: block!important;}
.tweet_single_timestamp {position: absolute; right: 1%; bottom: 0;}
.isStatus .content {position: relative;}
.isStatus .prof_name {position: relative; left: 61.5%; font-size: 2em;}
.arrow2_status {display: block; position: relative; left: 65%; background: url("../resources/arrow2.png"); width: 21px; height: 11px;}

.isStatus .header, .isStatus .sidebar, .isStatus .footer {display: none!important;}
.isStatus .wrapper {margin-top: 7vw!important; padding-bottom: 2em!important;}

.tweets .notweets {color: gray; text-align: center; display: block; width: 100%;}

.error-box {background: white; width: 98%; display: block; padding: 4px; border: 2px solid red; font-weight: bold; text-align: center;}

.search_users {text-align: center; background:#ddd; border: 1px solid #999; width: 98%; padding: 1%; vertical-align: middle; display: block; overflow-y: hidden!important; overflow-x: auto!important;}
.search_user_result {display: inline-block;}

.search_tweets {padding: 1%; margin: 1% auto;}
.search_tweets .center_t {width: 100%;}

.share_wrap * {vertical-align: middle;}

span.code {font: 0.75em sans-serif; background: #eee; border: 1px solid gray; padding: 3px; border-radius: 2px; display: block;}

.follower_list {color: transparent!important; text-decoration: none!important;}

.request_prof {background: rgba(255,0,0,0.5); padding: 5px; width: 98%; display: block; position: relative; height: 54px;}
.prof_name_inf {width: 60%; height: 100%; display: inline-block; overflow: hidden; vertical-align: middle;}
.prof_name_followinf {position: absolute; bottom: 0; right: 0;}

.col {position: relative;}
.col .col_submit {position: absolute; bottom: 0; right: 0;}

#message_send {width: auto; display: inline-block;}
.pm_table {font-size: 100%; width: 100%; display: block;}
.pm_table thead td {width: 1%; display: table-cell; text-align: center;}
.pm_table tr, .pm_table td {width: 40%; display: table-cell;}
.pm_item {width: 98%; padding: 1%; display: block; border-bottom: 1px solid gray; position: relative;}
.pm_item.even {background: #eef;}
.pm_item.you {background: #fdd;}
.pm_reply {display: inline-block; right: 0; bottom: 0; position: absolute;}
.pm_content {width: 90%; display: block;}
.pm_subject, .pm_reply {cursor: pointer;}
.pm_reply {color: #03a; text-decoration: underline;}

.secretget {cursor: pointer;}

.table_contain {display: table;}
.table_contain table {font-size: 100%!important; table-layout: fixed; width: 100%;}
.table_contain table input, .table_contain table textarea, .table_contain table img {width: 100%;}
.table_contain table textarea {resize: none;}

.auth_message {background: #eef; padding: 5px;}

.snowflakes {
	width: 100%; height: 1200px;
	position: absolute; top: -90px; left: 0;
    color: white!important;
}

.snowflakes i, .snowflakes i:after, .snowflakes i:before { background: white; }
.snowflakes i {
	display: inline-block;
	-webkit-animation: snowflakes 3s linear 2s 20;
	-moz-animation: snowflakes 3s linear 2s 20;
	position: relative;
    z-index: 99999;
}
.snowflakes i:after, .snowflakes i:before {
	height: 100%;
	width: 100%;
	content: ".";
	position: absolute;
	top: 0px;
	left: 0px;
	-webkit-transform: rotate(120deg);
}
.snowflakes i:before { -webkit-transform: rotate(240deg); }

@-webkit-keyframes snowflakes {
	0% {
		-webkit-transform: translate3d(0,0,0) rotate(0deg) scale(0.6);
	}
	100% {
		-webkit-transform: translate3d(15px, 1200px, 0px) rotate(360deg) scale(0.6);
	};
}

.snowflakes i:nth-child(3n) {
	width: 16px; height: 4px;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: 30;
	-webkit-transform-origin: right -45px;
}

.snowflakes i:nth-child(3n+1) {
	width: 24px; height: 6px;
	-webkit-animation-duration: 6s;
	-webkit-animation-iteration-count: 45;
	-webkit-transform-origin: right -30px;
}

.snowflakes i:nth-child(3n+2) {
	width: 32px; height: 8px;
	-webkit-animation-duration: 8s;
	-webkit-animation-iteration-count: 60;
	-webkit-transform-origin: right -15px;
}
	
/* different delays so they don't all start at the same time */
.snowflakes i:nth-child(7n) {
  opacity:.3;
  -webkit-animation-delay: 0s;
  -webkit-animation-timing-function:ease-in;
}
.snowflakes i:nth-child(7n+1) {
  opacity:.4;
  -webkit-animation-delay: 1s;
  -webkit-animation-timing-function:ease-out;
}
.snowflakes i:nth-child(7n+2) {
  opacity:.5;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-timing-function:linear;
}
.snowflakes i:nth-child(7n+3) {
  opacity:.6;
  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function:ease-in;
}
.snowflakes i:nth-child(7n+4) {
  opacity:.7;
  -webkit-animation-delay: 2.5s;
  -webkit-animation-timing-function:linear;
}
.snowflakes i:nth-child(7n+5) {
  opacity:.8;
  -webkit-animation-delay: 3s;
  -webkit-animation-timing-function:ease-out;
}
.snowflakes i:nth-child(7n+6) {
  opacity:.9;
  -webkit-animation-delay: 3.5s;
  -webkit-animation-timing-function:ease-in;
}